<form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h5 class="contact-form__title">{{ titleKey | t }}</h5>

  <div class="view-section__grid">
    <app-view-field [editing]="true" [label]="'contact.lastName'  | t" [control]="form.get('lastName')" />
    <app-view-field [editing]="true" [label]="'contact.firstName' | t" [control]="form.get('firstName')" />
  </div>

  <div class="view-section__grid">
    <app-view-field [editing]="true" type="email" [label]="'common.email' | t" [control]="form.get('email')" />
    <app-view-field [editing]="true" type="tel"   [label]="'common.phone' | t" [control]="form.get('phone')" />
  </div>

  <app-view-field [editing]="true" [label]="'contact.role' | t" [control]="form.get('role')" />

  <div class="contact-form__actions">
    <app-button [variant]="ButtonVariant.GHOST" (clicked)="cancelled.emit()" [tabindex]="-1">
      {{ 'common.cancel' | t }}
    </app-button>
    <app-button [variant]="ButtonVariant.PRIMARY" type="submit" [loading]="loading()">
      {{ 'common.save' | t }}
    </app-button>
  </div>
</form>
