<div class="inbox" [class.inbox--has-detail]="hasDetail()">
  <aside class="inbox__list" [style.width.px]="listWidth()" [style.min-width.px]="listWidth()">
    <ng-content select="[inbox-list]" />
  </aside>
  <div class="inbox__resizer" (pointerdown)="startDrag()" aria-hidden="true"></div>
  <main class="inbox__detail">
    @if (hasDetail()) {
      <ng-content select="[inbox-detail]" />
    } @else {
      <div class="inbox__placeholder">
        <ng-content select="[inbox-placeholder]" />
      </div>
    }
  </main>
</div>
